# IDE
.idea
.vscode

# dependencies
**/node_modules
lerna-debug.log

# build output
**/dist
**/public/build

# deploy
**/.netlify

# logs
.pnpm-debug.log*

# environment variables
**/.env

# macOS-specific files
**/.DS_Store

# ESLint
**/.eslintcache

# others
**/.cache
**/app/assets/styles/app.generated.css

# gitkeep
!**/.gitkeep

# generated Prisma Client
**/app/prisma-client/
**/prisma/prisma-client/

# Cypress
**/screeshots/
**/videos/
