---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { class: propsClasses, ...attributes } = Astro.props

const baseClasses = 'hover:underline'
const classes = baseClasses.concat(' ', propsClasses || '')
---

<a class={classes} {...attributes}>
  <slot />
</a>
