---
import NavigationFooterSocialNetworkLink from './navigation-footer-social-network-link.astro';
import IconFacebook from '@/modules/shared/icons/icon-facebook.astro';
import IconInstagram from '@/modules/shared/icons/icon-instagram.astro';
import LogoWithTextInline from '@/modules/shared/logo/logo-with-text-inline.astro'
---
<footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/">
          <LogoWithTextInline />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Ressources</h2>
          <ul class="text-gray-600 dark:text-gray-400">
            <li class="mb-4">
              <a href="/" class="hover:underline">Accueil</a>
            </li>
            <li class="mb-4">
              <a href="/faq" class="hover:underline">Foire aux questions</a>
            </li>
            <li>
              <a href='/contact' class="hover:underline">Contactez-nous</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Entreprise</h2>
          <ul class="text-gray-600 dark:text-gray-400">
            <li>
              <a href="/mentions-legales" class="hover:underline">Mentions légales</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        © {new Date().getFullYear()} <a href="/" class="hover:underline">L'Abeille Viennoise</a>. Tous droits réservés.
      </span>
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <NavigationFooterSocialNetworkLink href={import.meta.env.PUBLIC_FACEBOOK_URL}>
          <IconFacebook />
        </NavigationFooterSocialNetworkLink>
        <NavigationFooterSocialNetworkLink href={import.meta.env.PUBLIC_INSTAGRAM_URL}>
          <IconInstagram />
        </NavigationFooterSocialNetworkLink>
      </div>
    </div>
  </div>
</footer>
