---
import { Image } from '@astrojs/image/components';
---
<div class="flex justify-between items-center px-24 shadow-sm">
    <Image src={import('@/assets/images/logo.png')} height={64} />

    <nav role="navigation" class="flex gap-4">
        <a href="#">Home</a>
        <a href="#">Posts</a>
        <a href="#">Contact</a>
    </nav>
</div>
